[Unit]
Description=Phenopod API Server
Documentation=https://github.com/VarmaMSP/cello
After=network.target

[Service]
Type=simple
User=root
ExecStart={{ server_build_dir }}/server
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
