mysql:
  address: {{ mysql_host }}:{{ mysql_port }}
  database: {{ mysql_database }}
  user: {{ mysql_user }}
  password: {{ passwords.mysql }}

rabbitmq:
  address: {{ rabbitmq_host }}:{{ rabbitmq_port }}
  user: {{ rabbitmq_user }}
  password: {{ passwords.rabbitmq }}

elasticsearch:
  address: {{ elasticsearch_host }}:{{ elasticsearch_port }}
  user: {{ elasticsearch_user }}
  password: {{ passwords.elasticsearch }}

redis:
  address: {{ redis_host }}:{{ redis_port }}
  max_idle_conn: {{ redis_max_idle_conn }}

queues:
  import_podcast: 
    delivery_mode: 2
    consumer_name: import_podcast
    consumer_auto_ack: false
    consumer_exclusive: false
    consumer_prefetch_count: 100

  refresh_podcast: 
    delivery_mode: 2
    consumer_name: refresh_podcast
    consumer_auto_ack: false
    consumer_exclusive: false
    consumer_prefetch_count: 100

  create_thumbnail:
    delivery_mode: 2
    consumer_name: create_thumbnail
    consumer_auto_ack: false
    consumer_exclusive: true
    consumer_prefetch_count: 10

jobs:
  import_podcast: 
    enable: {{ import_podcast_enable }}
    worker_limit: {{ import_podcast_concurrency }}

  refresh_podcast:
    enable: {{ refresh_podcast_enable }}
    worker_limit: {{ refresh_podcast_concurrency }}

  create_thumbnail:
    enable: {{ create_thumbnail_enable }}
    worker_limit: {{ create_thumbnail_concurrency }}

  scheduler:
    enable: {{ scheduler_enable }}
    worker_limit: {{ scheduler_concurrency }}

oauth:
  google:
    client_id: {{ oauth.google.client_id }}
    client_secret: {{ oauth.google.client_secret }}
    redirect_url: {{ oauth.google.redirect_url}}
    scopes: ['profile', 'email']

  facebook:
    client_id: {{ oauth.facebook.client_id }}
    client_secret: {{ oauth.facebook.client_secret }}
    redirect_url: {{ oauth.facebook.redirect_url}}
    scopes: ['email']

  twitter:
    client_id: {{ oauth.twitter.client_id }}
    client_secret: {{ oauth.twitter.client_secret }}
    redirect_url: {{ oauth.twitter.redirect_url}}
    scopes: []
