cluster:
  name: phenopod

node:
  name: node-0

http:
  port: {{ http_port }}

network:
  host:
    - 127.0.0.1
    - {{ hostvars[inventory_hostname]['private_ip'] }}

discovery:
  type: single-node

path:
  data: /var/lib/elasticsearch
  logs: /var/log/elasticsearch

xpack:
  security:
    enabled: true
    transport:
      ssl:
        enabled: true
        verification_mode: certificate
        keystore:
          path: elastic-certificates.p12
        truststore:
          path: elastic-certificates.p12
